# ==========================================
# Docker Image
# ==========================================
PIHOLE_IMAGE=pihole/pihole
PIHOLE_TAG=v6.4.3

# ==========================================
# Pi-hole
# ==========================================
PIHOLE_PASSWORD=change_me
