# ==========================================
# Docker Image
# ==========================================
AUTHENTIK_IMAGE=ghcr.io/goauthentik/server
AUTHENTIK_TAG=2026.5.3

# ==========================================
# Networking
# ==========================================
COMPOSE_PORT_HTTP=9000
COMPOSE_PORT_HTTPS=9444

# ==========================================
# Application
# ==========================================
AUTHENTIK_SECRET_KEY=replace_with_a_long_random_secret

# ==========================================
# Database
# ==========================================
PG_DB=authentik
PG_USER=authentik
PG_PASS=change_me
