PROMETHEUS_IMAGE=prom/prometheus
PROMETHEUS_TAG=v3.13.0
PROMETHEUS_PORT=9090

NODE_EXPORTER_IMAGE=prom/node-exporter
NODE_EXPORTER_TAG=v1.11.1
NODE_EXPORTER_PORT=9100

CADVISOR_IMAGE=gcr.io/cadvisor/cadvisor
CADVISOR_TAG=v0.55.1
