GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=change_me

GF_SERVER_ROOT_URL=https://grafana.example.com

GF_AUTH_GENERIC_OAUTH_CLIENT_ID=change_me
GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET=change_me

GF_AUTH_GENERIC_OAUTH_AUTH_URL=https://auth.example.com/application/o/authorize/
GF_AUTH_GENERIC_OAUTH_TOKEN_URL=https://auth.example.com/application/o/token/
GF_AUTH_GENERIC_OAUTH_API_URL=https://auth.example.com/application/o/userinfo/
