# ==========================================
# Placeholder Environment File
# ==========================================

# This service currently contains no sensitive
# environment variables.
#
# This file serves as the template for the
# production .env file.

# ==========================================
# Docker Image
# ==========================================
HOMEPAGE_IMAGE=ghcr.io/gethomepage/homepage
HOMEPAGE_TAG=v1.13.2

# ==========================================
# Container
# ==========================================
PUID=1000
PGID=1000

# ==========================================
# Homepage
# ==========================================
HOMEPAGE_ALLOWED_HOSTS=your-server-ip:3000,homepage.example.com
HOMEPAGE_PORT=3000

