# ==========================================
# Placeholder Environment File
# ==========================================

# This service currently contains no sensitive
# environment variables.
#
# This file serves as the template for the
# production .env file.

# ==========================================
# Docker Image
# ==========================================
PORTAINER_IMAGE=portainer/portainer-ce
PORTAINER_TAG=2.39.3

# ==========================================
# Networking
# ==========================================
PORTAINER_EDGE_PORT=8000
PORTAINER_HTTPS_PORT=9443
