# ==========================================
# Placeholder Environment File
# ==========================================

# This service currently contains no sensitive
# environment variables.
#
# This file serves as the template for the
# production .env file.

# ==========================================
# Docker Image
# ==========================================
PROMETHEUS_IMAGE=prom/prometheus
PROMETHEUS_TAG=v3.13.0

NODE_EXPORTER_IMAGE=prom/node-exporter
NODE_EXPORTER_TAG=v1.11.1

CADVISOR_IMAGE=gcr.io/cadvisor/cadvisor
CADVISOR_TAG=v0.55.1

# ==========================================
# Networking
# ==========================================
PROMETHEUS_PORT=9090
NODE_EXPORTER_PORT=9100

