# ==========================================
# Docker Image
# ==========================================
UPTIME_KUMA_IMAGE=louislam/uptime-kuma
UPTIME_KUMA_TAG=2.4.0

# ==========================================
# Networking
# ==========================================
UPTIME_KUMA_PORT=3001
