# ==========================================
# Placeholder Environment File
# ==========================================

# This service currently contains no sensitive
# environment variables.
#
# This file serves as the template for the
# production .env file.

# ==========================================
# Docker Image
# ==========================================
NPM_IMAGE=jc21/nginx-proxy-manager
NPM_TAG=2.15.1
